<div class="control-group">
  <%= f.label :name, :class => 'control-label' %>
  <div class="controls">
    <%= f.hidden_field :attribute_type_id %>
    <%= f.text_field :value %>
    <%= f.hidden_field :_destroy %>
  </div>
</div>